html, body, div, span, applet, object, iframe, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
.body
    {background-color: rgb(0, 0, 0);
      margin: 0px;
      padding: 0px;
    }

    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
      }
      
.mainheader
    {
      margin-top: 200px;
      font-size: 50px;
    }
.center
    {
      text-align: center;
      color: rgb(255, 255, 255);
    }
.discription
    {
      font-size:24px;
      color: rgb(255, 255, 255);
    }
.list
    {
      color: rgb(255, 255, 255);
      font-size: 20px;
    }
.intro
    {
      margin-left: 350px;
      margin-right: 320px;
    }
.introduction
    {
      text-align: left;
      margin-left: 350px;
      color: white;
    }
.nav
    {
      background-color: rgb(42, 42, 42);
      height: 100%;
      width: 130px;
      list-style-type:none;
      position: fixed;
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 0;
      margin-right: 0;
      padding: 20px;
    }
.navbarlink:hover
    {
      background-color: black;
    }
.Artworks
    {
      margin-left:350px;
    }
.Artworksdiscription
    {
      margin-left: 610px;
    }
.li:hover
    {
      background-color: rgb(0, 0, 0);
    }
.li
    {
      list-style-type: none;
      padding: 32.5px;
      text-align: center;
      margin: 0px;
    }
.navi
    {
      background-color: rgb(42, 42, 42);
      margin-right: 900px;
      margin-left: 0px;
      padding: 0;
      height: 100%;
      width: 250px;
      position: fixed;
    }
.picnav
    {
      height:250px; 
      width:250px;
      margin: 0;
      padding: 0;
    }
.large
    {
      font-size: 30px;
    }
.p
    {
      padding-top: 40px;
      margin-bottom: 20px;
    }
.introductions
    {
      text-align: left;
      margin-left: 450px;
      color: white;
      border: none;
    }
  
